
       /*EL CSS SE COMENTA ASI*/
       /*LA ETIQUETA STYLE NOS PERMITE DARLE ESTILO A LAS CLASES*/
       /*Si le cambiamos el color al texto de prueba, que color le pondrias?*/
       /*cambiemosle el tamño de letra*/

       /*digame como quiere que sea ese texto, yo te voy diciendo el nombre de estas propiedades
       sip, si es que quiere de un color o de cierto tipo de fuente no se... lo que se le ocurra*/

        /*
        En html existen los colores basicos... pero cuando quieres hacer referencia a otros colores...
        deben usar HEXADECIMAL
        https://htmlcolorcodes.com/es/selector-de-color/
        esa pagina te ayuda a visualizar que color te gustaria...
        */
        /*se comentan las clases iniciales para que aprendiera la chuchu

       .prueba{
           color: white;
           ;
           font-size: 100px;
           background: #33FFD5;;
 
           font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       }

       .texto{
           color: white;
           font-size: 20px;    
       }

       .chuchu{
            color: #33FFD5;
            font-size: 70px;            
            background: black;
       }
       .chu{
           color: white;
           font-size:90px;
       }
       */
       /*cuando quieres modificar cosas sobre objetos como el BODY se escribe sin punto*/
       body{
        /*hacemos referencia al archivo*/
        background:url('./fondo.jpg');
        /*yo lo escribi... le digo al fondo que cubra todo el tamaño*/
        /*aqui obligamos a la imagen a CUBRIR todo el espacio adaptando su tamaño*/
        background-size: center;
        /*le digo que siempre el fondo tiene que cubrir TODO */
        min-height: 100%;
   }
    /*esta clase tendra la transparencia que va por encima de la foto*/
    .overlay{
        background-color: rgba(12, 28, 36, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 100%;
    }

    .container{
        background: white;
    }
    .azul{
        background-color: #33C3FF;            
    }
    .cele{
        background-color: #33C3FF;
    }
    .claro{
        background-color:#33C3FF;
    }
    .verde{
        background-color:#33C3FF;
    }
    .container{
        padding-left: 0px;
        padding-right: 0px;

    }
    ul {list-style-type: none;}
body {font-family: Verdana, Arial, Helvetica, sans-serif;}

/* Month header */
.month {
  padding: 40px 25px;
  width: 100%;
  background: #33C3FF;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 50;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #33C3FF;
  color: white !important
}
    

  